@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Titillium+Web:400,700&display=swap');

body {
  background-color: rgba(187, 204, 216, 0.8);
  max-width: 960px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#pic {
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 2px;
  margin-top: 5px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 5px;
}

nav a {
  display: inline block;
}
nav a:hover {
  font-weight: bold;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 50px;
  margin-bottom: 1px;
}

h2 {
  border-top: 1px solid;
  padding-top: 10px;
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a:visited{
  color: rgba(143, 29, 195, 1)
}

a:hover {
  color: rgba(224, 0, 0, 1);
}
